- @can_bulk_update = can?(current_user, :admin_merge_request, @group) && @group.licensed_feature_available?(:group_bulk_edit)

- page_title _("Merge requests")

- if issuables_count_for_state(:merge_requests, :all) == 0
  = render 'shared/empty_states/merge_requests', project_select_button: true
- else
  .top-area
    = render 'shared/issuable/nav', type: :merge_requests
    - if current_user
      .nav-controls
        - if @can_bulk_update
          = render_if_exists 'shared/issuable/bulk_update_button', type: :merge_requests

  = render 'shared/issuable/search_bar', type: :merge_requests

  - if @can_bulk_update
    = render_if_exists 'shared/issuable/group_bulk_update_sidebar', group: @group, type: :merge_requests

  = render 'shared/merge_requests'
